@font-face {
  font-family: 'NationalBook';
  src: url('../fonts/NationalWeb-Book.eot');
  src: url('../fonts/NationalWeb-Book.eot?#iefix') format('embedded-opentype'),
       url('../fonts/NationalWeb-Book.woff') format('woff'),
       url('../fonts/NationalWeb-Book.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'NationalLight';
  src: url('../fonts/NationalWeb-Light.eot');
  src: url('../fonts/NationalWeb-Light.eot?#iefix') format('embedded-opentype'),
       url('../fonts/NationalWeb-Light.woff') format('woff'),
       url('../fonts/NationalWeb-Light.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'NationalMedium';
  src: url('../fonts/NationalWeb-Medium.eot');
  src: url('../fonts/NationalWeb-Medium.eot?#iefix') format('embedded-opentype'),
       url('../fonts/NationalWeb-Medium.woff') format('woff'),
       url('../fonts/NationalWeb-Medium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}



.font-weight-bold,
strong {
  font-weight: normal;
  font-family: 'NationalMedium';
}

.font-weight-light {
  font-weight: normal;
  font-family: 'NationalLight';
}

.text-xs {
  font-size: $text-xs;
}

.text-sm {
  font-size: $text-sm;
  line-height: 1.3;
}

.text-base {
  font-size: $font-size-base;
}

.text-md {
  font-size: $text-md;
}

.text-lg {
  font-size: $text-lg;
  line-height: 1.2;
}

.text-xl {
  font-size: $text-xl;
}




