@import "variable-overrides";

@import "./node_modules/bootstrap/scss/bootstrap.scss";

@import "custom-variables";

@import "base/**/*.scss";
@import "components/**/*.scss";

@import "utilities";

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  font-size: 18px;
  line-height: 1.4;
}

.intro {
  background: #4C2F4D;
  position: relative;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @include media-breakpoint-up(sm) {
    height: 100vh;
  }
  .intro-btn {
    position: absolute;
    bottom: 50px;
    right: 50px;
  }
}

.section-about {
  position: relative;
  overflow: hidden;
}

.arrow-white {
  color: #fff;
  path {
    stroke:#fff;
  }
  &:hover {
    color: $purple-light;
    text-decoration: none;
    path {
      stroke: $purple-light;
    }
  }
}

.arrow-purple {
  path {
    stroke: $purple;
  }
  &:hover {
    text-decoration: none;
    path {
      stroke: $purple-light;
    }
  }
}

.prism {
  position: absolute;
  top: -200px;
  right: -300px;
}
