@import "variable-overrides";

@import "../../node_modules/bootstrap/scss/bootstrap.scss";

@import "custom-variables";

@import "base/animations.scss";
@import "base/buttons.scss";
@import "base/forms.scss";
@import "base/type.scss";

@import "components/carousel.scss";
@import "components/header.scss";
@import "components/section.scss";

@import "utilities";

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  font-size: 18px;
  line-height: 1.4;
}

.intro {
  background: #563758;
  position: relative;
  height: 400px;
  padding-top: 50px;
  text-align: center;
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  @include media-breakpoint-up(sm) {
    background: #523258;
    height: 500px;
  }
  @include media-breakpoint-up(md) {
    height: 600px;
  }
  @include media-breakpoint-up(lg) {
    height: 80vh;
  }
  .intro-btn {
    position: absolute;
    bottom: 50px;
    right: 50px;
  }
}

#animation {
  margin-left: auto;
  margin-right: auto;
  width: 372px;
  height: 208px;
  @include media-breakpoint-up(sm) {
    width: 600px;
    height: 337px;
  }
  @include media-breakpoint-up(md) {
    width: 800px;
    height: 450px;
  }
  @include media-breakpoint-up(lg) {
    width: 1066px;
    height: 600px;
  }
}

.section-about {
  position: relative;
  overflow: hidden;
}

.arrow-white {
  color: #fff;
  path {
    stroke:#fff;
  }
  &:hover {
    color: $purple-light;
    text-decoration: none;
    path {
      stroke: $purple-light;
    }
  }
}

.list-tick {
  width: 35px;
}

.arrow-purple {
  path {
    stroke: $purple;
  }
  &:hover {
    text-decoration: none;
    path {
      stroke: $purple-light;
    }
  }
}

.prism {
  position: absolute;
  top: -200px;
  right: -300px;
}
