.carousel {
  min-height: 500px;
}

.carousel-number {
  font-size: 80px;
  position: relative;
  line-height: 40px;
  font-family: $font-family-light;
}

.carousel-content {
  font-size: 30px;
  line-height: 34px;
  @include media-breakpoint-down(sm) {
    min-height: 210px;
    padding-left: 15px;
  }
}

.carousel-indicators {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: 30px;
  margin-bottom: 0;
  left: auto;
  right: auto;
  bottom: auto;
  display: flex;
  li {
    display: block;
    width: 21px;
    height: 23px;
    margin-left: 10px;
    margin-right: 10px;
    background-image: url(../images/hex.png);
    background-repeat: no-repeat;
    background-color: transparent;
    margin-bottom: 15px;
    background-size: contain;
    &.active {
      background-color: transparent;
      background-image: url(../images/hex-active.png);
    }
  }
}

.carousel-vertical {
  .carousel-item-next.carousel-item-left,
  .carousel-item-prev.carousel-item-right {
    transform: translateX(0);
    transform: translateY(0);

    @supports (transform-style: preserve-3d) {
      transform: translate3d(0, 0, 0);
    }
  }

  .carousel-item-next,
  .active.carousel-item-right {
    transform: translateX(0);
    transform: translatey(100%);

    @supports (transform-style: preserve-3d) {
      transform: translate3d(0, 100%, 0);
    }
  }

  .carousel-item-prev,
  .active.carousel-item-left {
    transform: translateX(0);
    transform: translateY(-100%);

    @supports (transform-style: preserve-3d) {
      transform: translate3d(0, -100%, 0);
    }
  }
}

.transition-timer-wrapper {
  background: #707070;
}

.transition-timer-carousel-progress-bar {
  height: 3px;
  background-color: $purple-light;
  width: 0%;
  margin: 0px 0px 0px 0px;
  border: none;
  z-index: 11;
  position: relative;
}

.carousel-control-prev,
.carousel-control-next  {
  position: static;
  width: auto;
  left: auto;
  top: auto;
  bottom: auto;
  opacity: 1;
}

.carousel-controls {
  display: flex;
  position: relative;
  top: -6px;
  button {
    background: transparent;
    border: none;
    &:hover {
      cursor: pointer;
      svg path{
        stroke: $purple-light;
      }
    }
  }
}

.carousel-control-prev {
  svg {
    transform: rotate(90deg);
  }
}

.carousel-control-next {
  svg {
    transform: rotate(270deg);
  }
}
