.section {
  padding-top: 100px;
  padding-bottom: 100px;
}

.section-dark {
  background-color: #4D324E;
  background-image: url(../images/purple-bg.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  // background-attachment: fixed;
  color: #fff;
}

.section-grey {
  background-color: #E7E7E8;
  background-image: url(../images/grey-bg.png);
  background-repeat: no-repeat;
  // background-attachment: fixed;
  background-position: right bottom;
}

